<!DOCTYPE html>
<html class='no-js' lang='en'>
  <head>
    <meta charset='utf-8'>
    <meta content='width=device-width, initial-scale=1.0' name='viewport'>
    <link href='css/foundation.css' rel='stylesheet'>
    <link href='css/stackmattimer.css' rel='stylesheet'>
    <title>Backbone Demo</title>
  </head>
  <body>
    <div class='off-canvas-wrap'>
      <div class='inner-wrap' id='stackmattimer'>
        <nav class='tab-bar'>
          <section class='left-small'>
            <a class='left-off-canvas-toggle menu-icon'>
              <span></span>
            </a>
          </section>
          <section class='middle tab-bar-section'>
            <h1 class='title'>Backbone Demo</h1>
          </section>
          <section class='right-small'>
            <a class='right-off-canvas-toggle menu-icon'>
              <span></span>
            </a>
          </section>
        </nav>
        <aside class='left-off-canvas-menu'>
          <ul class='off-canvas-list'>
            <li>
              <label>Average of 5</label>
            </li>
            <li>
              <a href='#' id='average-5'></a>
            </li>
            <li>
              <label>Average of 12</label>
            </li>
            <li>
              <a href='#' id='average-12'></a>
            </li>
          </ul>
          <ul class='off-canvas-list' id='time-list'>
            <li>
              <label>Times</label>
            </li>
          </ul>
        </aside>
        <aside class='right-off-canvas-menu'>
          <ul class='off-canvas-list' id='puzzles'>
            <li>
              <label>Puzzles</label>
            </li>
            <li>
              <a class='puzzle' data-puzzle='222' href='#'>2x2x2</a>
            </li>
            <li>
              <a class='puzzle' data-puzzle='333' href='#'>3x3x3</a>
            </li>
            <li>
              <a class='puzzle' data-puzzle='444' href='#'>4x4x4</a>
            </li>
            <li>
              <a class='puzzle' data-puzzle='555' href='#'>5x5x5</a>
            </li>
            <li>
              <a class='puzzle' data-puzzle='666' href='#'>6x6x6</a>
            </li>
            <li>
              <a class='puzzle' data-puzzle='777' href='#'>7x7x7</a>
            </li>
            <li>
              <a class='puzzle' data-puzzle='minx' href='#'>Megaminx</a>
            </li>
            <li>
              <a class='puzzle' data-puzzle='pyram' href='#'>Pyraminx</a>
            </li>
            <li>
              <a class='puzzle' data-puzzle='sq1' href='#'>Square-1</a>
            </li>
            <li>
              <a class='puzzle' data-puzzle='clock' href='#'>Clock</a>
            </li>
          </ul>
        </aside>
        <section class='main-section'>
          <div class='row'>
            <div class='large-12 columns'>
              <div class='panel' id='display'></div>
              <button class='button large expand' id='pad'></button>
              <div id='scramble'></div>
            </div>
          </div>
          <script id='time-template' type='text/template'>
            <a href="#">
            <%= formattedTime %>
            <div class="right">
            <span class="plus2  label <% if(!plus2) { %>secondary<% } %>">+2</span>
            <span class="dnf    label <% if(!dnf)   { %>secondary<% } %>">dnf</span>
            <span class="remove label alert">x</span>
            </div>
            </a>
          </script>
          <script id='display-template' type='text/template'>
            <%= formattedTime %>
          </script>
        </section>
        <a class='exit-off-canvas'></a>
      </div>
    </div>
    <script src='phonegap.js'></script>
    <script src='js/modernizr.js'></script>
    <script src='js/jquery-2.0.3.js'></script>
    <script src='js/underscore.js'></script>
    <script src='js/backbone.js'></script>
    <script src='js/backbone.localStorage-min.js'></script>
    <script src='js/scramble_222.js'></script>
    <script src='js/scramble_333.js'></script>
    <script src='js/scramble_NNN.js'></script>
    <script src='js/scramble_minx.js'></script>
    <script src='js/scramble_pyram.js'></script>
    <script src='js/scramble_sq1.js'></script>
    <script src='js/scramble_clock.js'></script>
    <script src='js/stackmattimer.js'></script>
    <script src='js/foundation.min.js'></script>
    <script>
      $(document).foundation()
    </script>
  </body>
</html>
