<!DOCTYPE html>
<html class='no-js' lang='en'>
  <head>
    <meta charset='utf-8'>
    <meta content='width=device-width, initial-scale=1.0' name='viewport'>
    <link href='css/foundation.css' rel='stylesheet'>
    <link href='css/stackmattimer.css' rel='stylesheet'>
    <script src='js/modernizr.js'></script>
    <script src='js/jquery-2.0.3.js'></script>
    <script src='js/underscore.js'></script>
    <script src='js/backbone.js'></script>
    <script src='js/backbone.localStorage-min.js'></script>
    <script src='js/stackmattimer.js'></script>
    <title>Backbone Demo</title>
  </head>
  <body>
    <div class='off-canvas-wrap'>
      <div class='inner-wrap' id='stackmattimer'>
        <nav class='tab-bar'>
          <section class='left-small'>
            <a class='left-off-canvas-toggle menu-icon'>
              <span></span>
            </a>
          </section>
          <section class='right tab-bar-section'>
            <h1 class='title'>Backbone Demo</h1>
          </section>
        </nav>
        <aside class='left-off-canvas-menu'>
          <ul class='off-canvas-list'>
            <li>
              <label>Average of 5</label>
            </li>
            <li>
              <a href='#' id='average-5'></a>
            </li>
            <li>
              <label>Average of 12</label>
            </li>
            <li>
              <a href='#' id='average-12'></a>
            </li>
          </ul>
          <ul class='off-canvas-list' id='time-list'>
            <li>
              <label>Times</label>
            </li>
          </ul>
        </aside>
        <section class='main-section'>
          <div class='row'>
            <div class='large-12 columns'>
              <div class='panel' id='display'></div>
              <a class='button large expand' href='#' id='pad'>
                Press and hold to start
              </a>
            </div>
          </div>
          <script id='time-template' type='text/template'>
            <a href="#"><%= formattedTime %></a>
          </script>
          <script id='display-template' type='text/template'>
            <%= formattedTime %>
          </script>
        </section>
        <a class='exit-off-canvas'></a>
      </div>
    </div>
    <script src='js/foundation.min.js'></script>
    <script>
      $(document).foundation()
    </script>
  </body>
</html>
