!!!5
%html.no-js{lang: "en"}
  %head
    %meta{charset: "utf-8"}
    %meta{name: "viewport", content: "width=device-width, initial-scale=1.0"}
    %link{rel: "stylesheet", href: "css/foundation.css"}
    %link{rel: "stylesheet", href: "css/stackmattimer.css"}
    %title Backbone Demo

  %body
    .off-canvas-wrap
      .inner-wrap#stackmattimer
        %nav.tab-bar
          %section.left-small
            %a.left-off-canvas-toggle.menu-icon
              %span
          %section.middle.tab-bar-section
            %h1.title Backbone Demo
          %section.right-small
            %a.right-off-canvas-toggle.menu-icon
              %span

        %aside.left-off-canvas-menu
          %ul.off-canvas-list
            %li
              %label Session average
            %li
              %a#session-average{href: "#"}
            %li
              %label Average of 5
            %li
              %a#average-5{href: "#"}
            %li
              %label Average of 12
            %li
              %a#average-12{href: "#"}
            %li
              %label Best average of 5
            %li
              %a#best-average-5{href: "#"}
            %li
              %label Best average of 12
            %li
              %a#best-average-12{href: "#"}
          %ul#time-list.off-canvas-list
            %li
              %label Individual times

        %aside.right-off-canvas-menu
          %ul#puzzles.off-canvas-list
            %li
              %label Puzzles
            %li
              %a.puzzle{href: "#", data: {puzzle: "222"}} 2x2x2
            %li
              %a.puzzle{href: "#", data: {puzzle: "333"}} 3x3x3
            %li
              %a.puzzle{href: "#", data: {puzzle: "444"}} 4x4x4
            %li
              %a.puzzle{href: "#", data: {puzzle: "555"}} 5x5x5
            %li
              %a.puzzle{href: "#", data: {puzzle: "666"}} 6x6x6
            %li
              %a.puzzle{href: "#", data: {puzzle: "777"}} 7x7x7
            %li
              %a.puzzle{href: "#", data: {puzzle: "minx"}} Megaminx
            %li
              %a.puzzle{href: "#", data: {puzzle: "pyram"}} Pyraminx
            %li
              %a.puzzle{href: "#", data: {puzzle: "sq1"}} Square-1
            %li
              %a.puzzle{href: "#", data: {puzzle: "clock"}} Clock

        %section.main-section
          .row
            .large-12.columns
              #display.panel
              %button#pad.button.large.expand
              #scramble

          %script#time-template{type: "text/template"}
            <a href="#">
            <%= formattedTime %>
            <div class="right">
            <span class="plus2  label <% if(!plus2) { %>secondary<% } %>">+2</span>
            <span class="dnf    label <% if(!dnf)   { %>secondary<% } %>">dnf</span>
            <span class="remove label alert">x</span>
            </div>
            </a>

          %script#display-template{type: "text/template"}
            <%= formattedTime %>

        %a.exit-off-canvas

    %script{src: "phonegap.js"}
    %script{src: "js/modernizr.js"}
    %script{src: "js/jquery-2.0.3.js"}
    %script{src: "js/jquery.touchSwipe.min.js"}
    %script{src: "js/underscore.js"}
    %script{src: "js/backbone.js"}
    %script{src: "js/backbone.localStorage-min.js"}
    %script{src: "js/scramble_222.js"}
    %script{src: "js/scramble_333.js"}
    %script{src: "js/scramble_NNN.js"}
    %script{src: "js/scramble_minx.js"}
    %script{src: "js/scramble_pyram.js"}
    %script{src: "js/scramble_sq1.js"}
    %script{src: "js/scramble_clock.js"}
    %script{src: "js/stackmattimer.js"}
    %script{src: "js/foundation.min.js"}
    :javascript
      $(document).foundation()
