html, body, .off-canvas-wrap, .inner-wrap, .main-section {
  height: 100%; }

.main-section {
  overflow: auto; }

#display {
  margin-top: 16px;
  font-size: 3em;
  text-align: right; }

#pad {
  padding-top: 6em;
  padding-bottom: 6em; }

#scramble {
  font-size: 2em;
  margin-bottom: 2em; }

#time-list li span.plus2 {
  margin-left: 1em; }

#time-list li span.plus2, #time-list li span.dnf, #time-list li span.remove {
  padding: 0.8em 1.2em;
  visibility: hidden; }

#time-list li:hover span.plus2, #time-list li:hover span.dnf, #time-list li:hover span.remove, #time-list li.selected span.plus2, #time-list li.selected span.dnf, #time-list li.selected span.remove {
  visibility: visible; }

#puzzles .puzzle.selected {
  background-color: #008cba;
  color: white; }
